
  

    
<div>

  <form action="/selectsub3" method="post">
    <label>select section</label>
    <%- include('../../partials/sectionForm.ejs') %>
 <button type="submit">select</button>
  </form>
</div>

<div>
<form action="/registeredContestants">
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">search</button>
</form>
</div>
<div>
  <div >
    <table class="table">
      <thead>
       <tr>
          <th scope="col">Program</th>
          <th scope="col">Registered Contestants</th>
        </tr>
      </thead>
      <tbody>
          <% tableData.forEach(row => { %>
        <tr>
    
          <td><%= row.program.name %><p>    </p><%= row.program.language %></td>
          <td>
              <% if (row.contestants.length > 0) { %>
                <div >
                 
                    <% row.contestants.forEach(contestant => { %>
                      <li > <%= contestant.name %> <%= contestant.verified %>  </li>
                    
                    <% }); %>
                  
                </div>
                
              <% } else { %>
                No contestants registered
              <% } %>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>



    
   